<% hot_topics = @guild.forum.hot_topics[0..3] %>
<div class="multibox">
  <div class="title">
    <%= link_to "更多", forum_url(@guild.forum) %>
    <b>热门话题</b>
  </div>    
  <div class="news-list menu-list">
		<ul>
			<% hot_topics.each do |t| %>
				<li><span>[<%= ftime3 t.created_at %>]</span> <%= topic_link t %></li>
			<% end %>
		</ul>
	</div>
</div>

