<div class="right"><%= link_to "激请好友加入" %></div>
<ul>    
<li class="hover"><span><%= link_to '好友管理', friends_url %></span></li>
<li><span><%= link_to '寻找好友', friends_url %></span></li>
<li><span><%= link_to '好友印象', friend_impressions_url %></span></li>
</ul>
