.css1 { font-size: 0.75em; font-weight: 100; }
.css2 { font-size: 1.0em; font-weight: 200; }
.css3 { font-size: 1.25em; font-weight: 300; }
.css4 { font-size: 1.5em; font-weight: 400; }
.css5 { font-size: 1.75em; font-weight: 500; }
