<div class='impress-show s_clear space'>
<% if game.tags.blank? %>
	还没有玩家对这个进行评价
<% else %>
<% tag_cloud game, %w(css1 css2 css3 css4) do |tag, css_class| %>
	<a class="impress-<%=rand(4)%>"><span id='tag_<%= tag.id %>' class=<%= css_class %>><%= tag.name %></span></a>
<% end %>
<% end %>
</div>
