<ul>
<li <% if params[:type] == nil || params[:type] == '0' %> class="hover" <% end %>><span><%= link_to "每日十闻", news_index_url(:type => 0) %></a></span></li>
<li <% if params[:type] == '1' %> class='hover' <% end %>><span><%= link_to "文字新闻", text_news_url(:type => 1)%></span></li>
<li <% if params[:type] == '2' %> class='hover' <% end %>><span><%= link_to "视频新闻", video_news_url(:type => 2) %></span></li>
<li <% if params[:type] == '3' %> class='hover' <% end %>><span><%= link_to "图片新闻", pic_news_url(:type => 3) %></span></li>
</ul>
