<div class='title01'>
  <%= link_to_function '', "facebox.close();", :class => "icon-active icon-active-close" %>
  <h3>投票设置</h3>
</div>

<% form_remote_for :setting, :url => application_setting_url(@setting), :method => :put do |f| %>
<div class='formcontent'>
  <div class="rows s_clear">
    <div class="fldid"><%= f.check_box 'recv_poll_feed' %></div>
    <div class="fldvalue">
      <label for="name">看到别人的新鲜事</label>
    </div>
  </div>
  <div class="rows s_clear">
    <div class="fldid"><%= f.check_box 'emit_poll_feed' %></div>
    <div class="fldvalue">
      <label for="des">让别人看到我的新鲜事</label>
    </div>
  </div>
</div>
<div class="buttons s_clear">
  <table class="center" cellpadding="0"><tr><td>
    <span class="button"><span><button type="submit">完成</button></span></span>
    <span class="button button-gray"><span><button type="button" onclick="facebox.close();">取消</button></span></span>
  </td></tr></table>
</div>
<% end %>

