<% if notices.count == 0 %>
<% else %>
<h4>新留言及回复<span>(<%= current_user.notices.unread.count %>)</span></h4>
<ul>
<% notices.each do |notice| %>
<% producer = notice.producer %>
<% if notice.producer_type == 'Comment' %>
	<%= render :partial => "user/notices/#{producer.commentable_type.underscore}_comment_notice", :locals => {:notice => notice, :comment => producer, :home_page => true } %>
<% elsif notice.producer_type == 'FriendTag' %>
	<%= render :partial => "user/notices/#{producer.taggable_type.underscore}_tag_notice", :locals => {:notice => notice, :tag => producer, :home_page => true } %>
<% elsif notice.producer_type == 'PhotoTag' %>
	<%= render :partial => "user/notices/photo_tag_notice", :locals => {:notice => notice, :tag => producer, :home_page => true} %>
<% end %>
<% end %>
</ul>
<% end %>
